### Loading libraries

In [1]:
import pandas as pd

### Importing Data

In [2]:
df_ratings= pd.read_csv('ratings.csv')
df_movies= pd.read_csv('movies.csv')
df_links= pd.read_csv('links.csv')
df_tags= pd.read_csv('tags.csv')
df_genome_tags= pd.read_csv('genome-tags.csv')
df_genome_scores= pd.read_csv('genome-scores.csv')

### Taking a look on the data

In [3]:
df_ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [4]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
df_links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [6]:
df_tags.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [7]:
df_genome_tags.head()

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [8]:
df_genome_scores.head()

   movieId  tagId  relevance
0        1      1    0.02500
1        1      2    0.02500
2        1      3    0.05775
3        1      4    0.09675
4        1      5    0.14675

### Checking for null data

In [9]:
print("df_ratings: ", df_ratings.isnull().values.any())
print("df_movies: ", df_movies.isnull().values.any())
print("df_links: ", df_links.isnull().values.any())
print("df_tags: ", df_tags.isnull().values.any())
print("df_genome_tags: ", df_genome_tags.isnull().values.any())
print("df_genome_scores: ", df_genome_scores.isnull().values.any())

df_ratings:  False
df_movies:  False
df_links:  True
df_tags:  True
df_genome_tags:  False
df_genome_scores:  False

### Handling missing data

In [10]:
df_links.isnull().sum()

movieId      0
imdbId       0
tmdbId     252
dtype: int64

In [11]:
df_links= df_links.drop(columns= ['tmdbId'])

In [12]:
df_tags.isnull().sum()

userId        0
movieId       0
tag          16
timestamp     0
dtype: int64

In [13]:
df_tags= df_tags.dropna()
df_tags.shape

(465548, 4)

In [14]:
print("df_links: ", df_links.isnull().values.any())
print("df_tags: ", df_tags.isnull().values.any())

df_links:  False
df_tags:  False

In [2]:
from imdb import IMDb
ia = IMDb()
movie = ia.get_movie('0133093')
movie.keys()

Requirement already satisfied: imdbpy in c:\programdata\anaconda3\lib\site-packages (6.8)
Requirement already satisfied: lxml in c:\programdata\anaconda3\lib\site-packages (from imdbpy) (4.3.4)
Requirement already satisfied: SQLAlchemy in c:\programdata\anaconda3\lib\site-packages (from imdbpy) (1.3.5)

['cast',
 'genres',
 'runtimes',
 'countries',
 'country codes',
 'language codes',
 'color info',
 'aspect ratio',
 'sound mix',
 'box office',
 'certificates',
 'original air date',
 'rating',
 'votes',
 'cover url',
 'plot outline',
 'languages',
 'title',
 'year',
 'kind',
 'directors',
 'writers',
 'producers',
 'composers',
 'cinematographers',
 'editors',
 'editorial department',
 'casting directors',
 'production designers',
 'art directors',
 'set decorators',
 'costume designers',
 'make up department',
 'production managers',
 'assistant directors',
 'art department',
 'sound department',
 'special effects',
 'visual effects',
 'stunts',
 'camera department',
 'animation department',
 'casting department',
 'costume departmen',
 'location management',
 'music department',
 'script department',
 'transportation department',
 'miscellaneous',
 'akas',
 'writer',
 'director',
 'top 250 rank',
 'production companies',
 'distributors',
 'special effects companies',
 'other companies',
 'plot',
 'synopsis',
 'canonical title',
 'long imdb title',
 'long imdb canonical title',
 'smart canonical title',
 'smart long imdb canonical title',
 'full-size cover url']